.button {
  width: 220px;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  transition: transform 0.3s; /* Transition effect */
  cursor: pointer; /* Cursor changes when you hover over it */
}
.button:hover {
  transform: scale(1.1); /* Make the button 10% larger */
}
