.container {
  width: 100vw;
  background-color: white;
  color: #1b1b1b;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > * {
  padding: 1rem;
}
