.container {
  color: white;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4rem;
  font-weight: 200;
}

.title {
  color: white;
  font-size: 70px;
  font-weight: 400;

  background: linear-gradient(to right, #eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  padding-top: 2em;
}
.cardContainer {
  margin: 3rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-self: space-between;
}

.card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

.cardTitle {
  font-size: 2.2rem;
  font-weight: bold;
  padding: 1rem;
}
.cardText {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.list {
  list-style-type: none; /* Remove bullet points */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.blockquote {
  position: relative;
  /* background: #ddd; */
}

.blockquote:before {
  position: absolute;
  content: open-quote;
  font-size: 4em;
  margin-left: -0.6em;
  margin-top: -0.4em;
}
.blockquote:after {
  position: absolute;
  content: close-quote;
  font-size: 4em;
  bottom: 0;
  right: 0;
  margin-right: -0.6em;
  margin-bottom: -0.8em;
}
.blockquote p {
  display: inline;
}

.listTitles {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  margin-top: 2rem;
}

.buttonContainer {
  padding-top: 2rem;
}
