.container {
  min-height: 70vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.title {
  z-index: 2;
  color: white;
  font-size: 3rem;
  padding: 1.5rem 1rem;
}

.content {
  z-index: 2;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.button {
  padding-top: 3rem;
}
