.container {
  /* min-height: 80vh; */
  min-width: 90vw;
  display: flex;
}
.left {
  width: 50%;
  color: white;
  padding-top: 20vh;
}
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heroText {
  color: white;
  letter-spacing: 0.1em;
  padding: 1em;
  font-size: 1em;
  font-weight: 300;
}
.heroTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.titleWrapper {
  padding-top: 20vh;
}
.topTitle,
.lowerTitle {
  color: white;
  font-weight: 700;
  text-align: center;
}
.topTitle {
  font-size: 3em;
  color: rgba(255, 255, 255, 0.659);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lowerTitle {
  animation: fadeIn 2s;
  font-size: 5em;
  background: linear-gradient(to right, #2629fb, #f12fda);
  -webkit-background-clip: text;
  color: transparent;
}

.scrollContainer {
  display: flex;
  padding-top: 4em;
  padding-left: 24px;

  border-style: solid;
  border-width: 0 1px 0 0;
  border-image: linear-gradient(rgb(253, 5, 5, 0.1), rgb(183, 9, 186)) 0.5;
}
.scrollText {
  font-size: 1em;
  font-weight: 300;
  width: 40%;
  padding-left: 2em;
  padding-top: 2em;
}

.content {
  font-weight: 400;
  font-size: 72px;
  letter-spacing: 0.01em;
  line-height: 100px;
}

.brandsContainer {
  color: white;
}
.brandsTitle {
  font-size: 12px;
  padding-top: 4em;
  padding-left: 1rem;
}
.brands {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5em;
}
.brands img {
  margin-right: 2em;
}
.brands img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

@media (max-width: 850px) {
  .container {
    flex-direction: column-reverse;
  }
  .left,
  .right {
    width: 100%;
  }
  .right {
    padding-top: 4em;
  }
  .rightContainer {
    padding-top: 2em;
  }
  .heroText {
    width: 100%;
    padding: 1em;
    font-size: 1em;
    text-align: center;
  }
  .brandsTitle {
    padding-top: 6em;
  }
  .brands {
    width: 100%;
  }
  .brands > img {
    transform: scale(0.6);
  }
}
