.container {
  min-height: 80vh;
  min-width: 90vw;
  display: flex;
}
.left {
  width: 50%;
  color: white;
}
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heroText {
  color: white;
  letter-spacing: 0.1em;
  padding: 1em;
  font-size: 16px;
  font-weight: 300;
  width: 73%;
}
.heroTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.titleWrapper {
  padding-left: 24px;
  padding-top: 90px;
}
.topTitle,
.lowerTitle {
  color: white;
  font-size: 70px;
  font-weight: 400;

  background: linear-gradient(to right, #eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.topTitle {
  width: 140%;
}
.scrollContainer {
  display: flex;
  padding-top: 4em;
  padding-left: 24px;

  border-style: solid;
  border-width: 0 1px 0 0;
  border-image: linear-gradient(rgb(253, 5, 5, 0.1), rgb(183, 9, 186)) 0.5;
}
.scrollText {
  font-size: 1em;
  font-weight: 300;
  width: 40%;
  padding-left: 2em;
  padding-top: 2em;
}
.marketLeaders {
  padding: 4em 1.5em 1.5em 1.5em;
  font-weight: 400;
  font-size: 32px;

  background: linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.content {
  font-weight: 400;
  font-size: 72px;
  letter-spacing: 0.01em;
  line-height: 100px;
}
.button {
  padding-top: 3rem;
}
.brandsContainer {
  color: white;
}
.brandsTitle {
  font-size: 12px;
  padding-top: 4em;
}
.brands {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 5em;
}
.brands img {
  margin-right: 2em;
}

@media (max-width: 1000px) {
  .scrollContainer {
    border: none;
  }
}
@media (max-width: 850px) {
  .container {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }
  .topTitle {
    width: 95%;
    font-size: 3em;
  }
  .lowerTitle {
    font-size: 3em;
  }
  .marketLeaders {
    padding: 3em 0.2em 0 0.2em;
    text-align: center;
  }
  .rightContainer {
    padding-top: 2em;
  }
  .heroText {
    width: 100%;
    padding: 1em;
    font-size: 1em;
    text-align: center;
  }
  .brandsTitle {
    padding-top: 6em;
  }
  .brands {
    width: 100%;
  }
  .brands > img {
    transform: scale(0.6);
  }
}
