.outter {
  color: white;
  padding-bottom: 10em;
}

.container {
  display: flex;
  justify-content: space-between;

  border-style: solid;
  border-width: 1px 0 0 0;
  border-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.05),
      rgb(255, 255, 255)
    )
    0.5;
}
.button {
  margin-top: 2rem;
}
.title {
  font-weight: 200;
  font-size: 1rem;
  font-style: italic;
  padding-bottom: 0.6rem;
}
.textContainer {
  width: 60%;
  padding-top: 7em;
  font-weight: 200;
  line-height: 26px;
}
.description {
  padding-top: 1rem;
  font-size: 1rem;
  text-align: center;
}
.profileContainer {
  padding-right: 4rem;
  padding-top: 7rem;
}

@media (max-width: 850px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .textContainer {
    width: 90%;
    padding-top: 2em;
  }
  .profileContainer {
    padding-top: 0em;
  }
  .description {
    width: 100%;
  }
  .profileContainer {
    padding: 0 0 0 0;
  }

  .outter {
    padding-bottom: 3em;
  }
}
