.outter {
  color: white;
  padding-bottom: 10em;
}

.container {
  display: flex;
  justify-content: space-between;

  border-style: solid;
  border-width: 1px 0 0 0;
  border-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.05),
      rgb(255, 255, 255)
    )
    0.5;
}
.title {
  font-weight: 200;
  font-size: 1em;
  font-style: italic;
  padding-bottom: 0.6em;
}
.description {
  width: 60%;
  padding-top: 7em;
  font-size: 12px;
  font-weight: 200;
  line-height: 33px;
}
.profileContainer {
  padding-right: 4em;
}

@media (max-width: 850px) {
  .profileContainer {
    padding: 12em 0 0 0;
  }
  .description {
    width: 70%;
  }
  .outter {
    padding-bottom: 6em;
  }
}
