.container {
  color: white;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 12rem;
  padding-top: 8em;
}
.title {
  color: white;
  font-size: 3em;
  font-weight: 400;

  background: linear-gradient(to right, #eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.cardContainer {
  border: 2px solid white;
  border-radius: 30px;
  margin: 3rem;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-self: space-between;
  transition-duration: 0.4s;
}
.cardContainer:hover {
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 10px 20px 2px rgb(246, 151, 255);
}
.card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

.cardTitle {
  color: white;
  font-size: 3em;
  font-weight: 400;

  background: linear-gradient(to right, #eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  padding-bottom: 1em;
}
.cardText {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.cardButton {
  background-color: rgb(132, 0, 255);
  color: white;
  margin: 2rem;
  border: none;
  border-radius: 30px;
  padding: 0.6rem 1.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
}

.cardButton:hover {
  background-color: rgb(0, 151, 171);
  font-size: large;
  font-weight: bold;
}
