.container {
  min-height: 70vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-color: white;
  color: #1b1b1b;
}
.title {
  z-index: 2;
  font-size: 3rem;
  padding: 1.5rem 1rem;
}

.content {
  z-index: 2;
  color: #1b1b1b;
  font-size: 1.5rem;
  text-align: center;
}

.button {
  padding-top: 3rem;
}
