.container {
  height: 1rem;
  display: Flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  padding-right: 1rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
