.container {
  width: 100%;
  height: 5rem;
  display: Flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.logoMobile {
  display: none;
}
.logoDesktop,
.logoMobile {
  padding-top: 2vw;
  padding-left: 1vw;
}
.logoText {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.burgerLinks {
  background-color: rgba(0, 0, 0, 0.937);
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.linkInactive,
.linkActive {
  font-size: 2rem;
  font-weight: 400;
}
.linkActive {
  border-bottom: 3px solid rgb(135, 43, 255);
}
.burgerButton {
  display: none;

  transition: transform 0.2s ease-in-out;
}
.burgerButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}
@media (max-width: 850px) {
  .logoDesktop {
    display: none;
  }
  .logoMobile {
    display: inline;
  }
  .links {
    display: none;
  }
  .burgerContainer {
    display: inline;
  }
  .burgerButton {
    border: 1px solid white;
    border-radius: 1rem;
    padding: 0.6rem;
    margin-top: 1.2rem;
    align-items: center;
    display: flex;
    gap: 0.5rem;
  }
  .burgerText {
    padding-top: 0.5em;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    font-weight: 200;
  }
}
