.container {
  height: 50px;
  font-size: 14px;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1rem;
  margin-bottom: 2rem;
}
.links {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-bottom: 1rem;
}

.socials {
  display: flex;
  align-items: center;
  gap: 6rem;
}
