.outter {
  color: black;
  background-color: white;
  width: 100vw;
  padding: 0 5vw 0 5vw;
}
.container {
  color: black;
  background-color: white;

  padding: 0 5vw 0 5vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  border-style: solid;
  border-width: 1px 0 0 0;
  border-image: linear-gradient(to left, rgba(0, 0, 0, 0.05), rgb(0, 0, 0)) 0.5;
}
.title {
  font-weight: 200;
  font-size: 1em;
  font-style: italic;
  padding-bottom: 0.6em;
}
.main {
  margin-top: 4em;
  display: grid;
  grid-template-rows: 1fr 50px;
  justify-items: center;
  row-gap: 1rem;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.quotesImgRight {
  justify-self: end;
  background-image: url(../../../public/images/left.png);
  margin-right: 20px;
}

.quotesImgLeft {
  background-image: url(../../../public/images/right.png);
  margin-left: 20px;
}

.sub {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

.mainQuotes {
  transition: 1s;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.quotesImg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 23px;
}

/* ------------------ */
.para {
  font-size: 16px;
}

.subText {
  margin-top: 1rem;
  font-size: 14px;
  color: #999999;
}

.myDot {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 5.5px;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
  background: rgb(130, 126, 119);
}

.myDot--active {
  background: rgb(24, 24, 21);
}

.not-visible {
  opacity: 0;
  transition: 1s;
}

@media (max-width: 767px) {
  .section-three-sub-div-one {
    grid-template-columns: 15% 1fr 15%;
  }
}
