.mainStyle {
  /* position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(67, 60, 75, 0.7);
  z-index: 1001; */
}

.innerDivStyle {
  border-top: 2px solid #494949;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: #cccccc;
  z-index: 1002;
}

.spanStyle {
  color: #374151;
  font-size: 1rem;
  margin-right: 64px;
}

.buttonStyle {
  background-color: #059669;
  padding: 8px 32px;
  border-radius: 0.25rem;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.buttonStyle:hover {
  background-color: #10b981;
  cursor: pointer;
  transform: scale(1.05);
}

@media (max-width: 850px) {
  .innerDivStyle {
    padding: 0.8rem;
  }
  .spanStyle {
    font-size: 0.7rem;
  }
}
