.outter {
  color: black;
  background-color: white;
  width: 100vw;
  padding: 0 5vw 4em 5vw;
}
.cardImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardTitle {
  font-weight: 300;
  font-size: 1.1em;
  padding-bottom: 0.9em;
  text-align: center;
}
.cardText {
  font-weight: 300;
  font-size: 0.7em;
  padding-bottom: 0.6em;
  line-height: 1.4em;
  width: 80%;
  margin-left: 3em;
  text-align: center;
}
.container {
  padding: 0 5vw 0 5vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  border-style: solid;
  border-width: 1px 0 0 0;
  border-image: linear-gradient(to left, rgba(0, 0, 0, 0.05), rgb(0, 0, 0)) 0.5;
}
.title {
  font-weight: 200;
  font-size: 1em;
  font-style: italic;
  padding-bottom: 0.6em;
}
.card {
  display: flex;
  padding-top: 5em;
}
.buttonWrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em;
}
